<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<li>
<%= link_to 'Admin', admins_backoffice_welcome_index_path %>
</li>

<li>
    <%= link_to 'User', users_backoffice_welcome_index_path %>
</li>

